.easyui-form {
	margin-top: 20px;
}

.asterisk {
	color: red;
}

.form-group {
	clear: both;
	text-align: left;
	margin: 10px 0px;
}

.form-group label {
	display: inline-block;
	width: 10%;
	min-width: 80px;
	text-align: right;
}

.form-group input {
	display: inline-block;
}

.form-btns {
	margin-top: 50px;
	text-align: center;
}

.form-btns a {
	display: inline-block;
	width: 80px;
}